html {
  // Fix https://github.com/tabler/tabler/issues/2271
  // Remove after Tabler fix this
  margin-left: 0 !important;
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
}

body::backdrop {
  background-color: var(--bs-bg-color);
}

.page-wrapper {
  transition: all .3s;
}
