
.l-sidebar {
  --nx-sidebar-width: #{$sidebar-width};
  --nx-sidebar-bg: #{$sidebar-bg};
  --nx-sidebar-nav-item-color: #{$sidebar-nav-item-color};
  --nx-sidebar-nav-item-hover-color: #{$sidebar-nav-item-hover-color};
  --nx-sidebar-nav-item-active-bg: #{$sidebar-nav-item-active-bg};
  --nx-sidebar-nav-item-active-color: #{$sidebar-nav-item-active-color};

  --nx-sidebar-sub-item-color: #{$sidebar-sub-item-color};
  --nx-sidebar-sub-item-active-color: #{$sidebar-sub-item-active-color};
  --nx-sidebar-sub-item-active-bg: transparent;
  --nx-sidebar-sub-item-hover-color: #{$sidebar-sub-item-hover-color};
  --nx-sidebar-sub-item-hover-bg: transparent;

  width: var(--nx-sidebar-width);

  .navbar-brand-image {
    display: block;
  }

  .navbar-brand-icon {
    display: none;
  }
}

.l-sidebar.navbar {
  box-shadow: none;
  padding-bottom: 75px;
  background-color: var(--nx-sidebar-bg);
  overflow: hidden;

  .l-sidebar-menu {
    height: calc(100vh - var(--nx-header-height));
    overflow-y: scroll;
  }
}

.l-sidebar.navbar .navbar-nav {
  --bs-nav-link-color: var(--nx-sidebar-nav-item-color);

  padding-left: .75rem;
  padding-bottom: 70px;
  gap: .25rem;

  .nav-header {
    font-size: .875rem;
    color: var(--bs-dark);
    padding: .25rem .35rem;
  }

  .nav-item.active::after {
    border: none;
  }

  .nav-link > span {
    display: inline;
  }

  .nav-link.active {
    background: var(--nx-sidebar-nav-item-active-bg);
    color: var(--nx-sidebar-nav-item-active-color);
  }

  .nav-icon {
    opacity: .85;
    min-width: 1.75rem;
  }

  .dropdown-toggle.show {
    color: var(--nx-sidebar-nav-item-hover-color);
  }

  .dropdown-toggle.show::after {
    transform: rotate(180deg);
  }

  .dropdown-menu {
    --bs-dropdown-link-active-color: var(--nx-sidebar-sub-item-active-color);
    --bs-dropdown-link-active-bg: var(--nx-sidebar-sub-item-active-bg);
    --bs-dropdown-link-hover-color: var(--nx-sidebar-sub-item-hover-color);
    --bs-dropdown-link-hover-bg: var(--nx-sidebar-sub-item-hover-bg);
    --bs-navbar-active-bg: transparent;

    gap: .25rem;
    display: block;
    animation-name: none;

    .dropdown-item {
      color: var(--nx-sidebar-sub-item-color);
      transition: all .3s;
      padding-left: 1.5rem;
      padding-top: .35rem;
      padding-bottom: .35rem;
      font-size: .9375rem;
      gap: .75rem;
    }

    .dropdown-item > i.nav-icon.fa-circle {
      font-size: .45rem;
      display: inline-block;
      position: relative;
    }

    .dropdown-item.active {
      color: var(--nx-sidebar-sub-item-active-color);
    }

    .dropdown-item:hover {
      color: var(--nx-sidebar-sub-item-hover-color);
    }
  }

  .dropdown-menu.collapse {
    display: none;
  }

  .dropdown-menu.collapse.show {
    display: block;
  }

  .dropdown-menu:not(.show) {

  }

  .dropdown-menu.show {

  }
}

// Dark Mode
// --------------------------------

.l-sidebar[data-bs-theme="dark"] {
  --nx-sidebar-bg: #{$sidebar-dark-bg};
  --nx-sidebar-nav-item-color: #{$sidebar-dark-nav-item-color};
  --nx-sidebar-nav-item-hover-color: #{$sidebar-dark-nav-item-hover-color};
  --nx-sidebar-nav-item-active-bg: #{$sidebar-dark-nav-item-active-bg};
  --nx-sidebar-nav-item-active-color: #{$sidebar-dark-nav-item-active-color};
  --nx-sidebar-sub-item-color: #{$sidebar-dark-sub-item-color};
  --nx-sidebar-sub-item-active-color: #{$sidebar-dark-sub-item-active-color};
  --nx-sidebar-sub-item-hover-color: #{$sidebar-dark-sub-item-hover-color};

  &.navbar {
    .navbar-nav {
      .nav-header {
        color: $gray-300;
      }

      .dropdown-toggle.show {
        color: var(--nx-sidebar-nav-item-active-color);
      }

      .dropdown-menu {
        //--bs-dropdown-link-active-color: white;
        //--bs-dropdown-link-hover-color: white;
      }
    }
  }
}

.l-sidebar.navbar .l-sidebar-menu[data-bs-theme="dark"] {
  --nx-sidebar-bg: #{$sidebar-dark-bg};
  --nx-sidebar-nav-item-color: #{$sidebar-dark-nav-item-color};
  --nx-sidebar-nav-item-hover-color: #{$sidebar-dark-nav-item-hover-color};
  --nx-sidebar-nav-item-active-bg: #{$sidebar-dark-nav-item-active-bg};
  --nx-sidebar-nav-item-active-color: #{$sidebar-dark-nav-item-active-color};
  --nx-sidebar-sub-item-color: #{$sidebar-dark-sub-item-color};
  --nx-sidebar-sub-item-active-color: #{$sidebar-dark-sub-item-active-color};
  --nx-sidebar-sub-item-hover-color: #{$sidebar-dark-sub-item-hover-color};

  background: var(--nx-sidebar-bg);

  > .navbar-nav {
    --bs-navbar-active-color: var(--nx-sidebar-nav-item-color);
    --bs-nav-link-hover-color: var(--nx-sidebar-nav-item-hover-color);

    .nav-header {
      color: $gray-300;
    }

    .dropdown-toggle.show {
      color: var(--nx-sidebar-nav-item-active-color);
    }

    .dropdown-menu {
      //--bs-dropdown-link-active-color: white;
      //--bs-dropdown-link-hover-color: white;
    }
  }
}

body[data-bs-theme=dark] {
  .l-sidebar, .l-sidebar.navbar, .l-sidebar.navbar .l-sidebar-menu {
    --nx-sidebar-bg: #{$dark};
  }
}

// Collapsed
// --------------------------------

@mixin sidebarCollapsed {
  .l-sidebar.navbar ~ .page-wrapper {
    margin-left: 70px;
  }

  .navbar-brand {
    .navbar-brand-image {
      display: none;
    }

    .navbar-brand-icon {
      display: block;
    }
  }

  .l-sidebar.navbar {
    width: 70px;
    overflow: visible;

    .l-sidebar-menu {
      overflow: visible;
    }
  }

  .l-sidebar.navbar .navbar-nav {
    padding-left: .5rem;
    padding-right: .5rem;

    .nav-header {
      display: none;
    }

    .nav-link {
      text-align: center;
      transition: none;
      white-space: nowrap;
      overflow: hidden;
    }

    .nav-link > i {
      //font-size: 1.25em;
    }

    .nav-link > span {
      display: none;
    }

    .nav-link::after {
      display: none;
    }

    .dropdown-menu {
      display: none !important;
      animation-name: none;
    }

    // Hover
    .nav-item:hover {
      width: var(--nx-sidebar-width);

      .nav-link {
        text-align: left;
        background-color: var(--nx-sidebar-bg);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &.dropdown .nav-link {
        border-bottom-right-radius: 0;
      }

      .nav-link > span {
        display: inline;
        margin-left: 27px;
      }

      .dropdown-menu {
        display: block !important;
        position: absolute;
        width: calc(var(--nx-sidebar-width) - 60px);
        top: 100%;
        left: 60px;
        background: var(--nx-sidebar-bg);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

      .dropdown-item {
        padding-left: .5rem;
      }

      .dropdown-item:hover {
      }
    }
  }
}

.sidebar-collapsed {
  @include sidebarCollapsed;
}

@include media-breakpoint-down(lg) {
  body:not(.sidebar-enabled) {
    @include sidebarCollapsed;
  }
}
